

body{
	margin:0;
	color:#6a6f8c;
	width: 100%;
	height: 100%;
	background-image: url("giphy.gif");
	font-family: 'Nunito Sans', sans-serif;
}
*,:after,:before{box-sizing:border-box}
a{color:inherit;text-decoration:none}

.button{
    font-family: 'Nunito Sans', sans-serif;;
}

.login-wrap{
	width:100%;
    max-width:525px;
    border-radius: 30px;
	min-height:460px;
	margin: auto;
	position:relative;
	box-shadow:0 12px 15px 0 rgba(0, 0, 0, 0.822),0 17px 50px 0 rgba(0,0,0,.19);
}
.login-html{
	width:100%;
    border-radius: 30px;
	height:100%;
    margin-bottom: 20px;
	position:absolute;
	padding:40px 60px 60px 60px;
	background:rgba(32, 32, 32, 0.89);
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateY(180deg);
	backface-visibility:hidden;
	transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}
.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:#fff;
	border-color:#1161ee;
}
.login-form{
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#fff;
	display:block;
}
.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
}
.login-form .group input[data-type="password"]{
	-webkit-text-security:circle;
}
.login-form .group .label{
	color:rgb(241, 235, 235);
	font-size:12px;
}
.login-form .group .button{
	background:#1161ee;
}
.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color:#fff;
}
.login-form .group .check:checked + label .icon{
	background:#1161ee;
}
.login-form .group .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	transform:rotate(0);
}

.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(255,255,255,.2);
}
.foot-lnk{
	text-align:center;
	color: rgb(241, 235, 235);
}

/* WebRes Header */

.content {
	width: 100vw;
	height: 100vh;
	display: flex;
	margin-top: 20px;
	color: #fff;
	font-family:  'Nunito Sans', sans-serif;
	justify-content: center;
}
.slider-wrapper {
font-size: 40px;
color:#fff;
font-weight: bold;
font-family:  'Nunito Sans', sans-serif;
}
.slider{
height: 50px;
padding-left:15px;
overflow: hidden;
}
.slider div {
color:#fff;
height: 50px;
margin-bottom: 50px;
padding: 2px 15px;
text-align: center;

}
.slider-text1 {
color: lightgreen;
background: #f8f8f800;
font-weight: bold;
animation: slide 7s linear infinite;
}
.slider-text2 {
color: skyblue;
font-weight: bold;
}
.slider-text3 {
color: lightcoral;
font-weight: bold;
}
.slider-text4 {
color: #c7d31d;
font-weight: bold;
}
@keyframes slide {
0% {margin-top:-300px;}
5% {margin-top:-200px;}
33% {margin-top:-200px;}
38% {margin-top:-100px;}
66% {margin-top:-100px;}
71% {margin-top:0px;}
100% {margin-top:0px;}
}